@use "../variables" as *;
@use "../mixins" as *;

.qrcode {
    width: 100%;
    .content {
        width: 100%;
        background: url('../../assets/images/bg.png') no-repeat center / cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-family: $font-gotham;
        padding: 0 10%;

        h2 {
            font-size: 52px;
            font-family: $font-main;
            color: $title-color;
            font-weight: 300;
            line-height: 1.6;
            padding: 2% 0;
        }

        .vi-title {
            font-size: 11px;
            text-transform: uppercase;
            margin-bottom: 10%;
        }

        .divider-image {
            margin-bottom: 15%;
            img {
                width: 81px;
                height: auto;
            }
        }

        .description {
            font-size: 9.11px;
            line-height: 1.8;
            margin-bottom: 2%;
            text-transform: uppercase;
        }
        .vi {
            line-height: 1.8;
            font-size: 8px;
            margin-bottom: 4%;
            text-transform: uppercase;
        }

        .qrcode {
            margin: 5% 0 2%;
            perspective: 1000px;
            img {
                max-width: 200px;
                width: 100%;
                height: auto;
                border-radius: 10px;
            }
        }
        .qrcode-info {
            line-height: 1.5;
            font-size: 13px;
            margin-bottom: 15%;
        }

        .qr-btn {
            display: block;
            width: 80%;
            font-family: $font-gothamBold;
            text-decoration: none;
            padding: 1.7% 7%;
            margin: 0 auto;
            background: #8f441f;
            color: white;
            border: none;
            border-radius: 8px;
            font-weight: 600;
            font-size: 9.11px;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: background 0.3s ease;
            margin-bottom: 10%;
        }

        @media (max-width: 500px) {
            h2 {
                font-size: calc((52 / 500) * 100vw);
            }
    
            .vi-title {
                font-size: calc((11 / 500) * 100vw);
            }
    
            .divider-image {
                img {
                    width: calc((81 / 500) * 100vw);
                }
            }
    
            .description {
                font-size: calc((9.11 / 500) * 100vw);
            }
            .vi {
                font-size: calc((8 / 500) * 100vw);
            }
    
            .qrcode {
                img {
                    max-width: calc((200 / 500) * 100vw);
                    border-radius: calc((10 / 500) * 100vw);
                }
            }
            .qrcode-info {
                font-size: calc((13 / 500) * 100vw);
            }
            .qr-btn {
                font-size: calc((9.11 / 500) * 100vw);
            }
        }
    }
}

div:where(.swal2-container) img:where(.swal2-image) {
    margin: 0 !important;
    object-fit: cover;
    object-position: 100% 40%;
    aspect-ratio: 3 / 2;
}

.qrcode-box {
    display: flex;
    flex-direction: row-reverse;
    .item  {
        width: 100%;
        margin-bottom: 6%;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .info {
            margin-bottom: 2%;
        }
        .name {
            text-transform: uppercase;
            margin-top: 4%;
        }
        .qrcode-img {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                margin-top: 2%;
                width: 40%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
            }
        }

        @media (max-width: 500px) {
            font-size: calc((13 / 500) * 100vw);
        }
    }
}
  